<div class="logo-row">
  <div class="menu-line-1">
    <a href="#">Seismology Lab</a>
    <div class="btn-grp">
      <button id="logIn" class="btn btn-light" type="submit">Log in</button>
    </div>
    <div class="lang">
      <select class="form-select" id="language">
        <option>Vn</option>
        <option>En</option>
      </select>
    </div>
  </div>
  <div class="search_container">
    <div id="wrap">
      <form action="" autocomplete="on">
        <input id="search" name="search" type="text" placeholder="What're we looking for ?"><button id="search-icon"><i class="fa fa-search" style="font-size: 25px;"></i></button>
      </form>
    </div>
</div>
</div>

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#">Home</a></li>
    <li>
      <a href="#">Earthquakes Overview &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Nature Events & Forecast &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Explore the Space &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Blog &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
    <li><a href="#">About Us</a></li>
  </ul>
</nav>
