<div class="footer">
  <div class="row1">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="info">

    <div class="row2">
      <ul>
        <li><a href="#">Pulication</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="#">Research</a></li>
      </ul>
    </div>
    <div class="row2">
      <ul>
        <li><a href="#">Books/Articles</a></li>
        <li><a href="#">Application</a></li>
        <li><a href="#">Consulting information</a></li>
      </ul>
    </div>
    <div class="row2">
      <ul>
        <li><a href="#">Recruitment</a></li>
        <li><a href="#">Donate us</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="row2">
      <ul>
        <li><a href="#">Công ty Việt nhật</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Copyright</a></li>

      </ul>
    </div>
  </div>


  <div class="row3">
    <p> Copyright © 2021 - All rights reserved</p>
  </div>
</div>
