<div class="link">
  <ul>
    <li><a href="">Impressive photo</a></li>
    <li><a href="">Hot topic</a></li>
    <li><a href="">Recent news</a></li>
  </ul>
</div>

<div class="article">
  <div class="article-col">
    <div class="item w-50">
      <img src="assets/img/2.jpg" alt="anhMinhHoa" class="item-img">
      <div class="content">
        <div class="title"><p>Động đất ở tây nguyên</p></div>
        <p>
            {{articleContent}}
        </p>
      </div>
    </div>

    <div class="item w-50">
      <img src="assets\img\ttxvn-nui-lua-taal-1119.jpg.webp" alt="anhMinhHoa" class="item-img">
      <div class="content">
        <div class="title"><p>Động đất ở tây nguyên</p></div>
        <p>
            {{articleContent}}
        </p>
      </div>
    </div>
    <div class="item w-50">
      <img src="assets/img/kontum.png" alt="anhMinhHoa" class="item-img">
      <div class="content">
        <div class="title"><p>Động đất ở tây nguyên</p></div>
        <p>
            {{articleContent}}
        </p>
      </div>
    </div>
  </div>
</div>
