.container{
  border: 1px solid black;
  box-shadow: 1px;
  margin-top: 50px;
  margin-bottom: 175px;
  border-radius: 5px;
  width: 900px;
  height: 325px;
}

.form-group{
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn{
  margin-bottom: 5px;
  margin-top: 15px;
}
p{
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.login{
  display: inline-flex;
}
